[run]
branch = True
cover_pylib = False
omit =
    /usr/*
    polls/tests.py
    manage.py
    */__init__.py
    mysite/*
    polls/migrations/*
    
[report]
exclude_lines =
    def __str__
    def __repr__