[run]
branch = True
cover_pylib = False
omit =
    __init__.py
    /usr/*
    mysite/*
    polls/migrations/*
    polls/__init__.py
include =
    polls/*
    
[report]
exclude_lines =
    def __str__
    def __repr__